@*<div class="blog-summary row">*@
@*    @Html.Partial("Shared/_BlogSummary.cshtml")*@
@*</div>*@
@{
    var image = FKValorTheme.Helpers.Helpers.GetImagePath(Model.ContentItem.Content.Trenini.Image, "1200", "900");
}

<section class="trenini">
    @*Lets convert markdown to html here*@
    <h1>@Model.ContentItem.Content.TitlePart.Title</h1>
    @if (!string.IsNullOrEmpty(image))
    {
        <div class="trenin-saraksts-wrapper">
            <img class="trenini-saraksts" src="@image"/>
        </div>
    }
    
@*    @Html.Raw(Markdig.Markdown.ToHtml((string)Model.ContentItem.Content.MarkdownPart.Markdown))*@
    <button class="button return-button" onclick="window.history.go(-1); return false;">Atpakaļ</button>
</section>