@import 'fonts';
/* Sample color palette */
$sand: #fed417;
$white: #ededed;
$true-white: #ffffff;
$dark-grey: #363334;
$black:		#212529;

$max-width: 900px;
body {
  font-family: allerregular
}
/* Text styles */
h1 {
	font-family: allerbold;
	font-size: 60px;
	font-weight: 800;
	text-align: left;
    color: $black;
}

h2 {
	font-family: allerbold;
	font-size: 36px;
	font-weight: 300;
	text-align: left;
    color: $black;
}

p {
	font-family: allerregular;
	font-size: 22px;
	text-align: left;
    color: $black;
}

a, button {
	font-family: Akrobat-ExtraBold;
	text-decoration: none;
    color: $sand;
	border: none;
	&:hover {
		color: $white;
	}
	
	&:focus {
		outline: none;
	}
}