@import 'bootstrap/bootstrap';
@import 'styleguide';
@import 'mixins';
@import 'settings';

// General
.content-wrapper {
  background-color: $sand;
  padding: 0 7px;
}

.container-fluid.header {
  padding: 0;
  img {
    display: none;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    img {
      display: block;
    }
  }
}

.widget-container {
  max-width: 900px;
  margin: auto;
}

.row.footer {
  font-size: 10px;
  color: $dark-grey;
  margin: 10px 10px 30px 10px;
  & > * {
    margin-bottom: 10px;
  }
  p.text-muted {
    margin-bottom: 0;
    color: $dark-grey;
    font-size: 14px;
  }

  .list-inline {
    margin: 0;
  }
  span {
    color: $dark-grey;
  }
}

.content {
  max-width: $max-width;
  margin: auto;
  padding: 0;
  padding-bottom: 20px;
  @include media-breakpoint-up(sm) {
    padding: 40px 0;
  }
  background: url("/FKValorTheme/img/background.svg");
}

// Menu
#main-menu {
  background-color: $dark-grey;
  padding-top: 35px;
  padding-bottom: 15px;
  @include media-breakpoint-up(md) {
    padding-top: 20px;
    padding-bottom: 0.5rem;
  }
}

.navbar-nav.menu {
  justify-content: center;
  align-items: center;
  width: 100%;
  a {
    font-size: 22px;
    font-weight: bold;
  }
}

.nav-item {
  margin: 0 10px;
  a {
    font-family: Akrobat-Light;
  }
}

.menu-logo-wrapper {
  position: relative;
  width: 140px;
  height: 50px;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.mobile-logo-wrapper {
  width: 100px;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.menu-logo {
  position: absolute;
  height: 110px;
  top: 1px;
  left: 3%;
  //transform: rotate(-5deg);
  z-index: 4;
  @include media-breakpoint-up(md) {
    height: 178px;
    left: -20px;
    top: -69px;
  }
}

.navbar-brand {
  font-family: Akrobat-ExtraBold;
  color: $sand;
  font-size: 32px;
  margin: 0;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navbar-toggler {
  color: $sand;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 35px;
  font-size: 32px;
  &:focus {
    outline: none;
  }
}

// Home Page / Blog Page
.blog-summary {
  display: flex;
  justify-content: center;
  /* align-self: center;    <---- REMOVE */
  align-items: center;
  margin-bottom: 40px;
  & > * {
    width: 100%;
    text-align: center;
  }

  .summary-image {
    position: relative;
    width: initial;
  }
  img {
    width: 100%;
    height: auto;
    @include media-breakpoint-up(sm) {
      height: 250px;
      width: auto;
    }
  }

  a {

  }

  h3 {
    margin-top: 12px;
    font-family: Akrobat-ExtraBold;
    margin-bottom: -22px;
    z-index: 4;
    font-size: 36px;
  }

  p {
    color: black;
    padding-top: 30px;
    font-family: Akrobat-ExtraBold;
    font-size: 24px;
  }
}

.white-block {
  background: url(/FKValorTheme/img/text-backgroun.png) bottom center no-repeat;
  height: 101px;
  background-size: 600px 95px;
  width: 600px;
  margin: auto auto 0 auto;
  @include media-breakpoint-down(sm) {
    background-size: 295px 95px;
    width: 295px;
    margin: auto;
    font-size: 16px;
  }
}

.description{
  padding: 0 15px;
  margin-bottom: 15px;
  @include media-breakpoint-up(sm) {
    padding: initial;
  }
  
  & > * {
    width: 100%;
    text-align: center;
  }
}

.date {
  position: absolute;
  background-color: $dark-grey;
  color: $sand;
  width: 96px;
  top: 10px;
  right: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Akrobat-ExtraBold;
}

.button {
  width: 159px;
  height: 34px;
  line-height: 34px;
  font-size: 26px;
  font-family: Akrobat-ExtraBold;

  @include media-breakpoint-up(sm) {
    width: 100px;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    font-family: Akrobat-Light;

  }
  background-color: $dark-grey;
}

.back-button-wrapper {
  text-align: center;
}

.return-button {
  margin: 30px auto 50px auto;
}

//Trenini
.trenini {
  text-align: center;

}
.trenini-saraksts {
  max-width: 280px;
  @include media-breakpoint-up(sm) {
    max-width: 560px;
  }

  @include media-breakpoint-up(md) {
    max-width: 760px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 900px;
  }
}

// ARticle page
.article {
  .white-block{
    height: 101px;
    background-size: 650px 100px;
    width: 650px;
    margin: auto auto 70px auto;
    @include media-breakpoint-down(sm) {
      background-size: 295px 110px;
      height: 113px;
      width: 295px;
      margin: auto auto 50px auto;
      font-size: 16px;
    }
    
    p {
      padding-top: 20px;
    }
  }
}